body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace; /* Alterado para Courier New */
}

header {
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #1e63b1; /* Cor alterada */
    font-family: 'Courier New', Courier, monospace; /* Alterado para Courier New */
    font-size: 18px;
    text-shadow: 0px 0px 5px #1e63b1; /* Cor alterada */
}

nav ul li a:hover {
    text-decoration: underline;
    color: #1e63b1; /* Cor alterada */
}

.photo-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.photo-container img {
    width: 30%;
    max-width: 300px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px #1e63b1; /* Cor alterada */
    transition: transform 0.3s ease-in-out;
}

.photo-container img:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 20px #1e63b1; /* Cor alterada */
}

h1, h2 {
    text-align: center;
    color: #1e63b1; /* Cor alterada */
    font-family: 'Courier New', Courier, monospace; /* Alterado para Courier New */
    text-shadow: 0px 0px 10px #1e63b1; /* Cor alterada */
}
